*
{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex; /* Pour les autres navigateurs (safari ?) */
    flex-direction: column;
    min-height: 100vh;
}

/*---------EN-TETE---------*/

header {
    text-align:left;
    border-bottom: #000 solid 1px;
    margin-bottom: auto;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo_header { 
    width: 7%;}

.avatar {
    width: 40px;
    float: left;
    border-radius: 20px;
}

.info_profil {
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info_profil p {   
    display: flex;
    align-items: center;
}

#membre {
    transition: color 0.3s;
}

#membre:hover {
    color: #de9f9f;
}

#logout {
    text-align: center;
    color: #fff;
    background-color: #de9f9f;
    min-width: 6em;
    padding: 0.3em;
    margin-top: -0.9em;
    border-radius: 7px;
    border: solid 1px #bf7272;
}

/*--------CORPS/CONTENU DU SITE--------*/

main {
    background-image: linear-gradient(#FFF , #e5a0a0);
    padding-top: 5em;
    padding-bottom: 5em;
}
h1, h2  {
    text-align:center;
    }

h3 {
     color:darkred;
     font-size:1.1em;
     margin-bottom:0px;
     padding: 0.3em;
     padding-top: 0.5em;
    }

a {
    text-decoration: none;
    color: #540404;
    }

.retour {
    color: #540404;
    width: 7.3em;
    margin: 0.5em auto;
    padding: 0.3em;
    border-radius: 7px;
    border: solid 1px #540404;
    display: block;
    
}
    /*---ACTEURS---*/

    /*Sur Page d'accueil*/

.presentation {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation img {
    border: solid 1px #ccc;
    width: 100%;
}
.liste {
    columns: 2;
    column-gap: 8em;
}

.liste ul {
    margin: 0;
    list-style: none; /* Supprime les points de a liste */
}
  
.liste ul li::before {
    content: "\2022";  /* Ajoute le code CSS des ronds */
    color: #ea6262;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block; /* Nécessaire pour ajouter de l'espace entre le point et le texte */
    width: 1em; 
    margin-top: -1em;
  }

.logo_prvw { /*aperçu Logo acteur*/
     width: 20%;
     max-height: 6.5em;
     float: left;
     margin: 0.4em;
}

.acteur_prvw { /* Sur la page d'accueil */
    background-color: #fff;
    border: solid 1px darkred;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    }

.acteur_prvw p {
    margin-top: 0px;
    padding: 0.3em;
    padding-bottom: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    /*Sur page commentaire*/

.logo_acteur { /*Logo dans page acteur*/
    width: 50%;
    margin: 1em;
    margin-bottom: 1.5em;
}

.acteur {
    background-color: #fff;
    border: solid 1px darkred;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    }
 
.acteur h2 {
    color:darkred;
    text-align: left;
}

.acteur p {
    margin-top: 0px;
    padding: 0.3em;
    padding-bottom: 1.1em;
    text-align: left;
    }
         
.contenu_acteur{
    text-align: left;
    width: 75%;
    }

.contenu_acteur a {
    text-align: center;
    color: #bf7272;
    min-width: 8em;
    padding: 0.3em;
    display: block;
    border-radius: 7px;
    border: solid 1px #bf7272;
    }

    /* Commentaires */

    #commentaires {
        background-color: #fff;
        border: solid 1px darkred;
        border-radius: 10px;
        width: 60%;
        margin: auto;
        margin-bottom: 1em;
        padding: 0.5em;   
    }

    #commentaires h2 {
         text-align: left;
         margin: 0.7em 0.5em;
    }

    #commentaires form {
        margin: 0.5em 0.3em;
    }

    .commentaire {
        border: solid 1px #bf7272;
        border-radius: 10px;
        width: 98%;
        margin: 0.5em auto;
        padding: 0.5em;
    }

    .commentaire p {
        margin: auto;
    }

    /* Boutons zone commentaire */
    .btn_zone_comment {/*contient nouveau commentaire et Like/dislike*/
        float: right;
        margin: -4em 0.5em 0 0.5em;
        display: flex;
        align-items: center;
    }

    .nv_comment {/* contient bouton nouveau commentaire*/
        display: inline-block;
    }

    .btn_nv_comment {/* Bouton nouveau commentaire*/
        border: solid 1px #bf7272;
        border-radius: 10px;
        padding: 0.5em;
        background: transparent;
        margin: 0 0 0 10px;
        cursor: pointer;
    }

    /* Like|Dislike */
    .vote {
        border: solid 1px #bf7272;
        border-radius: 10px;
        display: inline-block;
        margin-left: 0.5em;
    }

    .vote form {
        display: inline-block;
    }

    .vote_btns {
        padding-right: 0.5em;
    }

    .vote_btn {
        border: none;
        padding: 0;
        margin: 0 0 0 10px;
        display: inline-block;
        cursor: pointer;
        background: transparent;
        transition: color 0.3s;
    }

    #fa fa-thumbs-up {
        size: 50px;
    }

    .vote_like:hover, .is-liked {
        color: #63b96b;
    }

    .vote_dislike:hover, .is-disliked {
        color: #f2504b;
    }

    #post {
        width: 100%;
        min-height: 9em;
        border: solid 1px #bf7272;
        border-radius: 10px;
        padding: 0.5em;
    }

    #post:focus { 
        outline: none !important;
        border-color: #bf7272;
        box-shadow: 0 0 10px #bf7272;
    }

   /*Formulaires*/  
 
.contenant_connexion { /*Encadré formulaire connexion*/
    margin: 5% auto;
    padding: 2em;
    background-color: #fff1f1;
    width: 80%;
    border: solid 1px #de9f9f;
    }
        
.contenant_inscr { /*Encadré formulaire inscription*/           
    margin: 0 auto;
    padding: 2em;
    background-color: #fff1f1;
    width: 80%;
    border: solid 1px #de9f9f;
    }

.formulaire {
    text-align: center;        
    width: 95%;
    margin:auto;}

.formulaire strong {
    font-size: 1.1em;
}

Label {
      font-size: 1.1em;
      font-weight: bold;  
}

.input_perso {
        text-align: center;
        width: 100%;
        height: 2em;
        box-sizing: border-box;
        margin-top: 1em;
}

.input_perso option, .subscribe {
        text-align: center;
}

.inline_npu {
    display: flex;
    justify-content: space-between;
}

.inline_npu p {
    width: 32%;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.inline p {
    width: 49%;
}

.succes {/*Validation du formulaire*/
   text-align: center;
   color: green;
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 1em;
}

.erreur { /*Erreur dans le formulaire*/
   text-align: center;
   color: red;
   font-size: 1em;
   font-weight: bold;
}

.erreur img {
    border: solid 1px #ccc;
    width: 50%;
    margin: 3em;
}

/*-------- PIED DE PAGE--------*/

footer {
   background-color: #e5a0a0;
   border-top: #000 solid 1px;
   height: 7em;
   margin-top: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

@media only screen and (min-width: 768px) and  (max-width: 1024px) {
    /* tablettes */
    #logo_header {
        width: 15%;
    }

    .info_profil {
        width: 25%;
    }
    
    /*---ACTEURS---*/

    /*Sur Page d'accueil*/

    .presentation {
        width: 85%;
    }

    .liste {
        column-gap: 3em;
    }

    .logo_prvw {
        width: 30%;
    }

    .acteur_prvw {
        width: 90%;
    }

    .acteur_prvw p {
        flex-direction: column;
    }

    .acteur {
        width: 90%;
        }

    /* Sur commentaires*/
    #commentaires {
        width: 90%;      
    }

    .erreur img {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    /* smartphone */
        #logo_header {
            width: 15%;
        }

        .info_profil {
            width: 30%;
        }

    /*---ACTEURS---*/

    /*Sur Page d'accueil*/

        .presentation {
            width: 85%;
        }

        .liste {
            column-gap: 3em;
        }

        .logo_prvw {
            width: 40%;
        }

        .acteur_prvw {
            width: 90%;
        }

        .acteur_prvw p {
            flex-direction: column;
        }

        .acteur {
            width: 90%;
            }

        .logo_acteur {
            width: 70%;
            margin: 1em;
            margin-bottom: 0em;
            }

        #commentaires {
            width: 90%;      
        }

        .erreur img {
            width: 70%;
        }

        /* Formulaire*/

        .inline_npu {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        
        .inline_npu p {
            width: 100%;
        }

        .inline {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        
        .inline p {
            width: 100%;
        }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* smartphone en mode portait */
    #logo_header {
        width: 30%;
    }

    .info_profil {
        width: 50%;
    }

    /*---ACTEURS---*/

    /*Sur Page d'accueil*/

    .liste {
        columns: 1;
        margin: 0 0 0 -2.5em;
    }

    /* Sur page acteur */
    .logo_acteur {
        width: 80%;
        margin: 1em;
        margin-bottom: 0em;
    }

    /* Like|Dislike */
        .vote {
            width:50%;
            margin: 0.3em;
        }
        .vote_btns {
            text-align: center;
            padding-right: 0;
        }
        .btn_zone_comment {
            float: none;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nv_comment {
            width: 50%;
        }

        .btn_nv_comment {/* Bouton nouveau commentaire*/
            width: 100%;
            margin: auto;
        }

}