*
{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex; /* Pour les autres navigateurs (safari ?) */
    flex-direction: column;
    min-height: 100vh;
}

/*---------EN-TETE---------*/

header {
    text-align:left;
    border-bottom: #000 solid 1px;
    margin-bottom: auto;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo_header { 
    width: 7%;}

.avatar {
    width: 40px;
    float: left;
    border-radius: 20px;
}

.info_profil {
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info_profil p {   
    display: flex;
    align-items: center;
}

.info_profil a {
    text-align: center;
    color: #fff;
    background-color: #de9f9f;
    min-width: 8em;
    padding: 0.3em;
    margin-top: -0.9em;
    border-radius: 7px;
    border: solid 1px #bf7272;
}

/*--------CORPS/CONTENU DU SITE--------*/

main {
    background-image: linear-gradient(#FFF , #e5a0a0);
    padding-top: 5em;
    padding-bottom: 5em;
}
h1  {
      text-align:center;
        }
h3 {
     color:darkblue;
     font-size:1.1em;
     margin-bottom:0px;
     padding: 0.3em;
     padding-top: 0.5em;
    }

a {
    text-decoration: none;
    color: blue;
    }
    
    /*---ACTEURS---*/

    /*Sur Page d'accueil*/

.presentation {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation img {
    border: solid 1px #ccc;
    width: 100%;
}
.liste {
    columns: 2;
    column-gap: 8em;
}

.liste ul {
    margin: 0;
    list-style: none; /* Supprime les points de a liste */
}
  
.liste ul li::before {
    content: "\2022";  /* Ajoute le code CSS des ronds */
    color: #ea6262;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block; /* Nécessaire pour ajouter de l'espace entre le point et le texte */
    width: 1em; 
    margin-top: -1em;
  }

.logo_prvw { /*aperçu Logo acteur*/
     width: 20%;
     max-height: 6.5em;
     float: left;
     margin: 0.4em;
}

.acteur_prvw { /* Sur la page d'accueil */
    background-color: #fff;
    border: solid 1px darkred;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    }

.acteur_prvw p {
    margin-top: 0px;
    padding: 0.3em;
    padding-bottom: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    /*Sur page commentaire*/

.logo_acteur { /*Logo dans page acteur*/
    width: 50%;
    margin: 1em;
    margin-bottom: 1.5em;
}

.acteur {
    background-color: #fff;
    border: solid 1px darkred;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;
    }
 
.acteur h2 {
    text-align: left;
}

.acteur p {
    margin-top: 0px;
    padding: 0.3em;
    padding-bottom: 1.1em;
    text-align: left;
    }
         
.contenu_acteur{
    text-align: left;
    width: 75%;
    }

.contenu_acteur a {
    text-align: center;
    color: #bf7272;
    min-width: 8em;
    padding: 0.3em;
    display: block;
    border-radius: 7px;
    border: solid 1px #bf7272;
    }

    /* Like|Dislike */
    .vote {
        width: 150px;
        margin: 50px 0;
        float: right;
    }

    .vote_btns {
        margin-top: 10px;
        text-align: right;
    }

    .vote_btn {
        border: none;
        padding: 0;
        margin: 0 0 0 10px;
        display: inline-block;
        cursor: pointer;
        background: transparent;
        transition: color 0.3s;
    }

    #fa fa-thumbs-up {
        size: 50px;
    }

    .vote_like:hover {
        color: #63b96b;
    }

    .vote_dislike:hover {
        color: #f2504b;
    }

   /*Formulaires*/  
 
.contenant_connexion { /*Encadré formulaire connexion*/
    margin: 5% auto;
    padding: 2em;
    background-color: #fff1f1;
    width: 80%;
    border: solid 1px #de9f9f;
    }
        
.contenant_inscr { /*Encadré formulaire inscription*/           
    margin: 0 auto;
    padding: 2em;
    background-color: #fff1f1;
    width: 80%;
    border: solid 1px #de9f9f;
    }

.formulaire {
    text-align: center;        
    width: 95%;
    margin:auto;}

Label {
      font-size: 1.1em;
      font-weight: bold;  
}

.input_perso {
        text-align: center;
        width: 100%;
        height: 2em;
        box-sizing: border-box;
        margin-top: 1em;
}

.input_perso option {
        text-align: center;
}

.inline_npu {
    display: flex;
    justify-content: space-between;
}

.inline_npu p {
    width: 32%;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.inline p {
    width: 49%;
}

.succes {/*Validation du formulaire*/
   text-align: center;
   color: green;
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 1em;
}

.erreur { /*Erreur dans le formulaire*/
   text-align: center;
   color: red;
   font-size: 1em;
   font-weight: bold;
}

/*-------- PIED DE PAGE--------*/

footer {
   background-color: #e5a0a0;
   border-top: #000 solid 1px;
   height: 7em;
   margin-top: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}